*{margin:0;}

#oo{width:500px; height:500px; border:solid 1px black;}
#inp{width:450px; height: 50px; margin-top: -50px; border:none; position: absolute;}
#ss{width:50px; height:50px; margin-left: 450px; margin-top: 450px; background-image: url("../img/send8.png");}
#btn{width:50px; height:50px; background-image: url("../img/send8.png"); border:none;}

#add_comment{width:50px; height: 52px; border: none;  background-image: url("../img/send8.png");}
#add_comment:hover{background-image: url("../img/sendHover.png"); cursor: pointer;}
#add_comment:active{background-image: url("../img/sendActive.png");}


.add_comment2{width:7%; height: 53px; border: none; border-top: solid 1px lightgrey; margin-left:93%; background-image: url("../img/send8.png");}
.add_comment2:hover{background-image: url("../img/sendHover.png"); cursor: pointer;}

.add_comment{width:93%; height: 53px; font-size: 12pt; color:black; border-top:solid 1px lightgrey; border-left:none; border-right: none; border-bottom:none; box-sizing: border-box; padding: 5px;}

#feed_cart{width:35%; border:solid 1px black; margin-left: 5%; margin-top:10%;}
#a{background-image: url("../img/progress.png");border:solid 0px black; width:2px; height:5px;}